<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/wdkg.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>望德幼儿园</strong>
                        <span>2015 - 2017 | 运动小健将 </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>运动小健将。
                        </p>
                        <p>积极参与学校及班级活动。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/qzxx.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>求知小学</strong>
                        <span>2017 - 2022 | 中队长 | 尊师好学星 </span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>尊师好学星，升旗手。
                        </p>
                        <p>作为班级中队长，多次组织班级活动。 作为学生会外联部部长，多次联合校外企业赞助学校活动。
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->

        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->