<section class="section brd-btm" id="certification">
    <h2 class="title-thin text-muted">获得证书</h2>

    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2020美院之路一等奖.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2020第三届全国青少年美术大赛“美院之路”一等奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2020诗歌朗诵最佳表演奖.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2020徐汇区第十三届“田林杯”诗歌朗诵最佳表演奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2021上海市口琴单项比赛银奖.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021上海市学生艺术单项比赛“口琴专场”银奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2021青少年管弦乐团体奖.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021青少年民族管弦乐作品展演优秀团队奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2021上海夏季音乐节.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021上海夏季音乐节“MISA国际青少年音乐夏令营专场音乐会”参演</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2021读书优秀作品奖.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2021徐汇区中小学“好书伴我成长”优秀作品奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/最美少年尊师好学星.jpeg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">最美少年尊师好学星</h3>
            </div>
        </div><!-- .col-sm-6 -->

        <div class="col-sm-6 clear-mrg">
            <div class="award-box">
                <figure class="award-img">
                    <img src="{{ '/styles/img/certificates/2022致英雄书画金奖.jpg' | prepend: site.baseurl }}" alt="">
                </figure>

                <h3 class="award-title">2022“致敬英雄”全国少年儿童文化艺术作品活动金奖</h3>
            </div>
        </div><!-- .col-sm-6 -->

    </div><!-- .row -->
</section><!-- .section -->