<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Car.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">可充电的风力小车</h2>
                                <p>本小车能源来自一个超级电容，它能在20秒之内充满电。只需要3节5号电池即可实现对小车的反复充电，为小车的行驶提供持续的能源供给。</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/Car-list.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">可充电的风力小车</h2>
                            <!-- <p class="text-muted"><strong>design by William</strong></p> -->
                            <dl class="dl-horizontal">
                                <dt>Demo视频地址:</dt>
                                <dd><a href="https://v.youku.com/v_show/id_XMTUyMjIwMDAxMg==.html?from=s1.8-1-1.2">点击播放</a></dd>
                            </dl>
                            <p>电动汽车一种新兴起的绿色无污染,充满电就可跑的交通工具，它利用电作为能量来行驶。绿色无污染的动力设备将会是未来。</p>
                            <p></p>本小车能源来自一个超级电容，它能在20秒之内充满电。只需要3节5号电池即可实现对小车的反复充电，为小车的行驶提供持续的能源供给。</p>
                            <p>小车的行驶是电能转换成了动能的过程。电机使扇叶旋转产生向后推动的风，风会给车身后方的空气一个作用力，而车身后方会给小车一个向前的反作用力，从而使小车前进。</p>

                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Sunflower.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">向日葵</h2>
                                <p>线描画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Bingmayong.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">兵马俑</h2>
                                <p>获奖作品</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Town.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">城堡</h2>
                                <p>水彩画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>  
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Smartcup.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">智能水杯</h2>
                                <p>该智能水杯具有水温显示、饮水提醒等功能。包括杯盖、杯体、杯底，所属杯盖采用了 螺纹设计;所述杯体上嵌有主控系统，主控系统包括主控芯片，显示模块，温度检测模块， 按键模块，报警模块，存储模块，所述按键模块包括时间调节按钮、报警取消按键;所述杯 底包括电池仓，为主控电路供电。</p>
                                <a href="#pf-popup-2" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-2" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/Smartcup.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">智能水杯</h2>
                            <!-- <p class="text-muted"><strong>design by William</strong></p> -->
                            <!-- <dl class="dl-horizontal">
                                <dt>Demo视频地址:</dt>
                                <dd><a href="https://v.youku.com/v_show/id_XMTUyMjIwMDAxMg==.html?from=s1.8-1-1.2">点击播放</a></dd>
                            </dl> -->
                            <p>结构上，杯盖采用了传统的螺纹设计，更好保证密闭性。并且专门设计了手指提拉刚拱形。没有采用弹开式连体设计，主要原因是，这种分离设计，打开饮水时，杯口是完全开放的，更好的保障了饮水的体验，饮水时的杯口入口体验是设计的初衷。</p>
                            <p>杯身高度和直径在保障容量的前提下，同时借鉴了生活中传统水杯的尺寸，更好的符合人体工学设计。握持非常适手，携带也极其方便。</p>
                            <p>杯底是两节7号干电池电池仓，放在底部可以保证空杯时重心靠下，杯子不易倾倒。同时，也便于更换电池。</p>

                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Town1.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">教堂</h2> 
                                <p>水彩画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>  
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Flower.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">花</h2>
                                <p>水彩画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>  
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Bird.jpeg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">翠鸟</h2>
                                <p>创意素描，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>  
            </div><!-- .pf-grid-item -->

        </div>
    </div>
</section><!-- .section -->