<section class="section brd-btm" id="experience">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">社团经历</h2>
            <br />
            <div class="education">
                <div class="education-box">
                    <time class="education-date" datetime="2016-01TNow">
                        <span>Jan <strong class="text-upper">2020</strong> - <strong>Now</strong></span>
                    </time>
                    <h3>音乐社团</h3>
                    <span class="education-company">民乐团 | 笙</span>
                    <p>。。。</p>
                </div>
                <!-- .education-box -->

                <div class="education-box">
                    <time class="education-date" datetime="2014-09T2016-01">
                        <span>Sep <strong class="text-upper">2018</strong> - Jan <strong>2022</strong></span>
                    </time>
                    <h3>口琴社团</h3>
                    <span class="education-company">校内社团 | 24孔口琴</span>
                    <p>。。。</p>
                </div>
            </div>
        </div>
    </div>
</section><!-- .section -->