<section class="section" id="personal_project">
    <h2 class="title-thin text-muted">个人作品</h2>
    <div class="pf-wrap">
        <div class="pf-grid">

        <div class="pf-grid-sizer"></div><!-- used for sizing -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Car.png' | prepend: site.baseurl }}" alt="">
                    </figure>
                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">可充电的风力小车</h2>
                                <p>本小车能源来自一个超级电容，它能在20秒之内充满电。只需要3节5号电池即可实现对小车的反复充电，为小车的行驶提供持续的能源供给。</p>
                                <a href="#pf-popup-1" class="pf-btn-view btn btn-primary">详情</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div id="pf-popup-1" class="pf-popup clearfix">
                    <div class="pf-popup-col1">
                        <div class="pf-popup-media" style="background-image: url({{ '/styles/img/portfolio/Car-list.png' | prepend: site.baseurl }}); background-repeat: no-repeat;background-size: cover;">
                        </div>
                    </div><!-- .pf-popup-col1 -->

                    <div class="pf-popup-col2">
                        <div class="pf-popup-info clear-mrg">
                            <h2 class="text-upper">可充电的风力小车</h2>
                            <!-- <p class="text-muted"><strong>design by William</strong></p> -->
                            <dl class="dl-horizontal">
                                <dt>Demo视频地址:</dt>
                                <dd><a href="https://v.youku.com/v_show/id_XMTUyMjIwMDAxMg==.html?from=s1.8-1-1.2">点击播放</a></dd>
                            </dl>
                            <p>电动汽车一种新兴起的绿色无污染,充满电就可跑的交通工具，它利用电作为能量来行驶。绿色无污染的动力设备将会是未来。</p>
                            <p></p>本小车能源来自一个超级电容，它能在20秒之内充满电。只需要3节5号电池即可实现对小车的反复充电，为小车的行驶提供持续的能源供给。</p>
                            <p>小车的行驶是电能转换成了动能的过程。电机使扇叶旋转产生向后推动的风，风会给车身后方的空气一个作用力，而车身后方会给小车一个向前的反作用力，从而使小车前进。</p>

                        </div><!-- .pf-popup-info -->

                    </div><!-- .pf-popup-col2 -->
                </div><!-- .pf-popup -->
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Sunflower.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">向日葵</h2>
                                <p>线描画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item photography">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Bingmayong.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">兵马俑</h2>
                                <p>获奖作品</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->

            <div class="pf-grid-item design">
                <div class="project">
                    <figure class="portfolio-figure">
                        <img src="{{ '/styles/img/portfolio/Town.jpg' | prepend: site.baseurl }}" alt="">
                    </figure>

                    <div class="portfolio-caption text-center">
                        <div class="valign-table">
                            <div class="valign-cell">
                                <h2 class="text-upper">城堡</h2>
                                <p>水彩画，练习作品</p>
                                <!-- <a href="https://www.github.com/cuizhehan" class="pf-btn-view btn btn-primary" target="_blank">详情</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .pf-grid-item -->
        </div>
    </div>
</section><!-- .section -->