<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">基本信息</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">性别</dt>
                <dd>男</dd>

                <dt class="text-upper">生日</dt>
                <dd>30 Dec 2010</dd>
<!-- 
                <dt class="text-upper">手机</dt>
                <dd>1580424XXXX</dd> -->

                <dt class="text-upper">邮箱</dt>
                <dd><a href="mailto:cuizhehan@1111.com">cuizhehan@111.com</a></dd>

                <dt class="text-upper">钢琴</dt>
                <dd>七级</dd>

                <!-- <dt class="text-upper">日语</dt>
                <dd>一级</dd> -->
            </dl>
           
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
    
    <br>

    <div>
    <p>我是个乐观阳光、积极向上的大男孩。我喜欢阅读各种名家名著，万物百科，人工智能等，同学都称呼我“科学小百科”。</p>
    
    <p>学校里，我乐于助人，关心集体，尊敬师长，成绩优秀，每次竞选，同学都推选我学习委员。我喜欢音乐，钢琴通过上音7级，口琴还获得上海市学生艺术比赛银奖，参加过学校合唱团，青少年活动中心的民乐团，还参加了很多演出。我喜欢运动，学校里运动会短跑都能拿到名次，同学还送我外号“光速翠鸟”。</p>
    
    <p>我经常和爸爸一起出去骑行，最远骑行75km。我还喜欢路亚，我钓到过翘嘴、大口鲈、太阳鱼等，我的下一个目标是鱤鱼。我喜欢交朋友，每天做完作业都到小区里和朋友一起踢足球，一起聊天，交流学习和兴趣爱好。</p>
    </div>

</section><!-- .section -->